{% extends "app/base.html" %} {% block content %}




<div class="character-content">
  <h2 class="character-content-title">Lukeのコンボ一覧</h2>
  <hr />
    {% for post in posts %}
    <article>
      <h2 class="subtitle">{{post.title}}</h2>
      <small>Posted at {{post.posted_date}}</small>
      <p>{{post.intro}}</p>
      <a href="{% url 'post_detail' post.slug %}">詳しく見る</a>
      <hr />
    </article>
    {% endfor %}
</div>

<div id="character-select">
  <h2>CHARACTER SELECT</h2>
    <ul class="character-list">
      {% for character in characters %}
          <a href="{% url 'character_detail' character.name %}">
              <li>
                  <img src="{{ character.image.url }}" alt="{{ character.get_name_display }}">
              </li>
          </a>
      {% endfor %}
  </ul>
</div>


{% endblock %}