{% load static %} 
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sf6 my combo</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="{% static 'app/style.css' %}">

  </head>
  <body>
    <header id="header">
      <div class="header-content">
        <h1 class="wrapper header-title"><a href="{% url 'frontpage' %}">SF6 Combo</a></h1>
        <ul class="wrapper first-menu">
          <li><a href="#character-select">Character list</a></li>
          <!-- <li><a href=""></a></li> -->
          <!-- <li><a href=""></a></li> -->
        </ul>
      </div>
    </header>

    <main>
      {% block content %} {% endblock %}
    </main>


  <footer id="footer">
    <div class="footer-content">
      <p>当サイトは個人ファンサイトであり、企業様とは一切関係ありません。下記はサイト独自の内容に関する著作権を示すものです。</p>
    </div>
    <p class="copywrite"><small>&copy; 2025 AlLeN</small></p>
  </footer>
  </body>
</html>