{% extends "app/base.html" %} {% block content %}


<div id="main-visual">
  <h1 class="main-title">SF6 Combo</h1>
</div>

<div id="character-select">
  <h2>CHARACTER SELECT</h2>
  <ul class="character-list">
    <a href="{% url 'Ryu' %}"><li><img src="../../static/app/images/iconA01.png" alt="RYU"></li></a>
    <a href="{% url 'Luke' %}"><li><img src="../../static/app/images/iconA02.png" alt="LUKE"></li></a>
    <a href="{% url 'Jamie' %}"><li><img src="../../static/app/images/iconA03.png" alt="JAMIE"></li></a>
    <a href="{% url 'Chunli' %}"><li><img src="../../static/app/images/iconA04.png" alt="CHUN-LI"></li></a>
    <a href="{% url 'Guile' %}"><li><img src="../../static/app/images/iconA05.png" alt="GUILE"></li></a>
    <a href="{% url 'Kimbery' %}"><li><img src="../../static/app/images/iconA06.png" alt="KIMBERY"></li></a>
    <a href="{% url 'Juri' %}"><li><img src="../../static/app/images/iconA07.png" alt="JURI"></li></a>
    <a href="{% url 'Ken' %}"><li><img src="../../static/app/images/iconA08.png" alt="KEN"></li></a>
    <a href="{% url 'Blanka' %}"><li><img src="../../static/app/images/iconA09.png" alt="BLANKA"></li></a>
    <a href="{% url 'Dhalsim' %}"><li><img src="../../static/app/images/iconA10.png" alt="DHALSIM"></li></a>
    <a href="{% url 'Honda' %}"><li><img src="../../static/app/images/iconA11.png" alt="E.HONDA"></li></a>
    <a href="{% url 'Dj' %}"><li><img src="../../static/app/images/iconA12.png" alt="DJ"></li></a>
    <a href="{% url 'Manon' %}"><li><img src="../../static/app/images/iconA13.png" alt="MANON"></li></a>
    <a href="{% url 'Marisa' %}"><li><img src="../../static/app/images/iconA14.png" alt="MARISA"></li></a>
    <a href="{% url 'Jp' %}"><li><img src="../../static/app/images/iconA15.png" alt="JP"></li></a>
    <a href="{% url 'Zangief' %}"><li><img src="../../static/app/images/iconA16.png" alt="ZANGIEF"></li></a>
    <a href="{% url 'Lily' %}"><li><img src="../../static/app/images/iconA17.png" alt="LILY"></li></a>
    <a href="{% url 'Cammy' %}"><li><img src="../../static/app/images/iconA18.png" alt="CAMMY"></li></a>
    <a href="{% url 'Rashid' %}"><li><img src="../../static/app/images/iconA19.png" alt="RASHID"></li></a>
    <a href="{% url 'Aki' %}"><li><img src="../../static/app/images/iconA20.png" alt="AKI"></li></a>
    <a href="{% url 'Ed' %}"><li><img src="../../static/app/images/iconA21.png" alt="ED"></li></a>
    <a href="{% url 'Gouki' %}"><li><img src="../../static/app/images/iconA22.png" alt="GOUKI"></li></a>
    <a href="{% url 'Vega' %}"><li><img src="../../static/app/images/iconA23aJ.png" alt="VEGA"></li></a>
    <a href="{% url 'Terry' %}"><li><img src="../../static/app/images/iconA24.png" alt="TERRY"></li></a>
  </ul>
</div>

<div class="frontpage-content">
  <article>
    <h2>このサイトの説明</h2>
    <p>ストリートファイター6で自分が使うコンボや連携、セットアップをまとめたサイトです。ご自由にご活用してください。強い連携もあれば弱い連携もあります。このサイトにある連携を使って対戦に負けても、責任は取れませんのでお気を付けください。</p>
  </article>
  <article>
    <h2>お知らせ</h2>
    <p>------------------------------------------------------------------------------------------------------------</p>
  </article>
</div>

{% endblock %}

<!-- .\venv\Scripts\activate -->
<!-- python manage.py runserver -->