{% extends "app/base.html" %} {% block content %} {% load static %}

<div id="main-visual">
  <h1 class="main-title">SF6 Combo</h1>
</div>

<div id="character-select">
  <h2>CHARACTER SELECT</h2>
    <ul class="character-list">
      {% for key, name in character_choices %}
          <a href="{% url 'character_detail' character_name=key %}">
              <li>
                  <img src="{% static 'app/images/' %}{{ key }}.png" alt="{{ name }}">
              </li>
          </a>
      {% endfor %}
  </ul>
</div>

<div class="frontpage-content">
  <article>
    <h2>このサイトの説明</h2>
    <p>ストリートファイター6のコンボや連携、セットアップをまとめたサイトです。</p>
  </article>
  <article>
    <h2>お知らせ</h2>
    <hr />
    {% for post in posts %}
      <h3 class="subtitle">{{post.title}}</h3>
      <small>Posted at {{post.posted_date}}</small>
      <p>{{post.body}}</p>
      <hr />
    {% endfor %}

  </article>
</div>

{% endblock %}



<!-- .\venv\Scripts\activate
cd project
python manage.py runserver
python manage.py makemigrations
python manage.py migrate -->
