{% extends "app/base.html" %} {% block content %}


<div id="main-visual">
  <h1 class="main-title">SF6 Combo</h1>
</div>

<div id="character-select">
  <h2>CHARACTER SELECT</h2>
    <ul class="character-list">
      {% for character in characters %}
          <a href="{% url 'character_detail' character.name %}">
              <li>
                  <img src="{{ character.image.url }}" alt="{{ character.get_name_display }}">
              </li>
          </a>
      {% endfor %}
  </ul>
</div>

<div class="frontpage-content">
  <article>
    <h2>このサイトの説明</h2>
    <p>ストリートファイター6のコンボや連携、セットアップをまとめたサイトです。</p>
  </article>
  <article>
    <h2>お知らせ</h2>
    <p>〇月〇日サイト運営開始</p>
    <p>〇月〇日サイト○○コンボ更新</p>
    {% for post in posts %}

      <h2 class="subtitle">{{post.title}}</h2>
      <small>Posted at {{post.posted_date}}</small>
      <p>{{post.intro}}</p>
      <a href="{% url 'post_detail' post.slug %}">詳しく見る</a>
      <hr />

    {% endfor %}

  </article>
</div>

{% endblock %}



<!-- .\venv\Scripts\activate
cd project
python manage.py runserver
python manage.py makemigrations
python manage.py migrate -->
