@charset "utf-8";
html {
  font-size: 100%;
}
body {
  font-size: 0.9rem;
  background: url("images/4.jpg") no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
video {
  margin: 0 auto 10px;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
main {
  max-width: 950px;
  margin:0 auto;
  background-color: #fff;
  min-height: 92vh;
}

/* HEADER */
#header {
  background-color: rgb(63, 63, 63,0.9);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: luxus-brut, cursive;
	font-style: italic; 
}
.header-content {
  max-width: 950px;
  margin:0 auto;
  display: flex;
  align-items: center;
}
#header h1{
  text-align: left;
}
#header ul{
  display: flex;
  text-align: right;
}
#header li{
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
#header li a{
  color: #ffffff;
}
#header li a:hover{
  opacity: 0.8;
  color: aqua;
}
.header-title a{
color: #fff;
font-weight: normal;
}

/* BASE CONTAINER */
.base-container {
  margin-top: 40px;
}

/* MAIMVISUAL */
#main-visual {
  background: url("images/1.jpg") no-repeat;
  min-height: 200px;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  font-family: luxus-brut, cursive;
}
.main-title {
  font-size: 5rem;
  color: rgba(75, 234, 255, 0.884);
  font-weight: normal;
}

/* CHARACTER SELECT */
#character-select {
  background: url("images/トレモBG.png") no-repeat;
  min-height: 600px;
  background-size: cover;
  padding: 0px 0 10px 0;
}
#character-select h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: Arial Black;
  padding: 15px 0 5px 0;
  color          : #ffffff;
  letter-spacing : 4px;
  text-shadow    : 
    2px  2px 2px rgba(153, 0, 0, 0.36),
  -2px  2px 2px rgba(153, 0, 0, 0.36),
    2px -2px 2px rgba(153, 0, 0, 0.36),
  -2px -2px 2px rgba(153, 0, 0, 0.36),
    2px  0px 2px rgba(153, 0, 0, 0.36),
    0px  2px 2px rgba(153, 0, 0, 0.36),
  -2px  0px 2px rgba(153, 0, 0, 0.36),
    0px -2px 2px rgba(153, 0, 0, 0.36);
}
#character-select ul {
  text-align: center;
  margin: 0 10px;
}
#character-select li {
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.6s ease 0s;
}
#character-select img{
  display: block;
  width: 120px;
  height: 120px;
}
#character-select li:hover{
  cursor: pointer;
	transform: scale(1.15, 1.15);
}

/* FRONTPAGE CONTENT */
.frontpage-content {
  padding: 50px 40px;
  display: flex;
}
.frontpage-content article{
  flex: 1;
  margin: 0 30px 0 ;
}
.frontpage-content article p{
  font-size: large;
}

/* POST CONTENT */
.post-content {
  padding: 50px 30px;
}

/* FOOTER */
#footer{
  font-family: luxus-brut, cursive;
	font-style: italic; 
  background-color: #333;
}
.footer-content {
  text-align: center;
  color: white;
  height: 40px;
  padding: 20px;
  font-size: 12px;
}
.copywrite{
  text-align: center;
  color: white;
  height: 40px;
  padding: 10px 0;
}

/* CHARACTER_DETAIL */
.character-content {
  padding: 50px 0px;
}

.character-content-title {
  display: flex;
}

.character-content-text {
  padding: 30px 30px;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 15px;
}
/* .label {
  display: inline-block;
  padding: 0px 4px;
  font-weight: bold;
  border: 2px solid;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 3px;
}
.dr {
  color: #2c9fd4;
  border-color: #2c9fd4;
}
.cr {
  color: #4a9f2c;
  border-color: #4a9f2c;
}
.od {
  color: #d4c400;
  border-color: #d4c400;
} */

.combo-list {
  padding: 0px 40px;
}

.character-search {
  
}

.character-content-title img{
  padding: 0 auto;
}

.combo-detail-content video{
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 800px) {
	/* 800px以下に適用されるCSS */
  .character-content-title {
    padding: 0 40px 20px;
  }

  .character-content-title {
    display: block;
    text-align: center;
  }
  .character-content-text {
  width: 500px;
  text-align: left;
  padding: 30px 50px;
  margin: 0 auto 30px;
  }
}

@media screen and (max-width: 580px) {
	/* 580px以下に適用されるCSS（スマホ用） */
  .character-content-text {
    width: auto;
    padding: 30px 20px;
    }
}